<ion-header>

    <ion-navbar>
        <ion-title>New Category</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form #f="ngForm" (ngSubmit)="onAddCat(f)">
        <ion-list>
            <ion-item>
                <ion-label color="primary" floating>Title</ion-label>
                <ion-input
                           type="text"
                           name="title"
                           ngModel
                           required></ion-input>
            </ion-item>
        </ion-list>
        <button
               ion-button
               full
               [disabled]="!f.valid"
               type="submit">Add category</button>
    </form>
</ion-content>
