<ion-header>

    <ion-navbar>
        <ion-title>New Task {{category.title}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form #f="ngForm" (ngSubmit)="onAddItem(f)">
        <ion-list>
            <ion-item>
                <ion-label color="primary" floating>Title</ion-label>
                <ion-input
                    type="text"
                    name="title"
                    ngModel
                    required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Description</ion-label>
                <ion-textarea name="description" ngModel></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label color="primary" fixed>Due Date</ion-label>
                <ion-datetime
                    displayFormat="DD/MM/YYYY"
                    name="date" ngModel required></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label color="primary" fixed>Time</ion-label>
                <ion-datetime
                    displayFormat="h:mm A"
                    pickerFormat="h mm A"
                    name="time"
                    required
                    ngModel></ion-datetime>
            </ion-item>
        </ion-list>

        <button
            ion-button
            full
            [disabled]="!f.valid"
            type="submit">Add task</button>
    </form>
</ion-content>
