<ion-header>

    <ion-navbar>
        <ion-title>categories</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <button
        ion-button
        clear
        [navPush]="newCat">New Category</button>
    <ion-list>
        <button
            ion-item
            *ngFor="let cat of categories"
            [navPush]="tasksPage"
            [navParams]="cat">
            <h2>{{ cat.name }}</h2>
        </button>
    </ion-list>
</ion-content>
