<ion-header>

  <ion-navbar>
    <ion-title>signin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f="ngForm" (ngSubmit)="onSignin(f)">
        <ion-list>
            <ion-item>
                <ion-label fixed>Username</ion-label>
                <ion-input
                    type="text"
                    ngModel
                    name="username"
                    required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>Password</ion-label>
                <ion-input
                    type="password"
                    ngModel
                    name="password"
                    required
                    [minlength]="6"></ion-input>
            </ion-item>
        </ion-list>
        <button
            ion-button
            block
            type="submit"
            [disabled]="!f.valid">Signin</button>
    </form>

    <button ion-button clear block margin-top (click)="onClickSignup()">Sign up</button>
</ion-content>
