<ion-header>

    <ion-navbar>
        <ion-title>{{ cat.name }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <button
        ion-button
        [navPush]="newTask"
        [navParams]="cat"
        clear>Add Task</button>

    <ion-list>
        <ion-list-header>{{ "to-do" | uppercase}}</ion-list-header>
        <ion-item
            *ngFor="let task of todo; let i = index" [attr.data-index]="i"
            [navPush]="taskPage"
            [navParams]="task"
            >
            <ion-label>{{task.title}}</ion-label>
            <ion-checkbox
                checked="false"
                (click)="onCheckBox(task, i)" ></ion-checkbox>
            <button ion-button clear item-end>View</button>
        </ion-item>

        <ion-list-header>{{ "done" | uppercase }}</ion-list-header>
        <ion-item
            *ngFor="let task of done; let i = index" [attr.data-index]="i"

            [navPush]="taskPage"
            [navParams]="task"
            >
            <ion-label>{{task.title}}</ion-label>
            <button ion-button clear item-end>View</button>
        </ion-item>
    </ion-list>
</ion-content>
