<ion-header>

    <ion-navbar>
        <ion-title>Edit Task</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form #f="ngForm" (ngSubmit)="onUpdateItem(f)">
        <ion-list>
            <ion-item>
                <ion-label color="primary" floating>Title</ion-label>
                <ion-input
                    type="text"
                    name="title"
                    [value]="task.title"
                    [(ngModel)]="task.title"
                    required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="primary" floating>Description</ion-label>
                <ion-textarea name="description" [(ngModel)]="task.description"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label color="primary" fixed>Due Date</ion-label>
                <ion-datetime
                    displayFormat="DD/MM/YYYY"
                    name="date"
                    [(ngModel)]="date"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label color="primary" fixed>Time</ion-label>
                <ion-datetime
                    displayFormat="h:mm A"
                    pickerFormat="h mm A"
                    name="time"
                    [(ngModel)]="time"></ion-datetime>
            </ion-item>
        </ion-list>

        <button
            ion-button
            full
            [disabled]="!f.valid"
            type="submit">Add task</button>
    </form>
</ion-content>
