<ion-header>
    <ion-navbar>
        <ion-title>{{ task.title }}</ion-title>

        <ion-buttons end>
            <button
                ion-button
                icon-only
                (click)="onShowOption($event, task)"
                >
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h1>{{ task.title }}</h1>
    <small>{{ task.due }}</small>
    <p *ngIf="task.description"> {{ task.description }} </p>
    <button ion-button full *ngIf="task.status == 'todo'"
        id="complete"
        (click)="onCompleteTask(task)">Mark as complete</button>
</ion-content>
